*, ::before, ::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root
{
    --firstColor: #f1f1f1;
    --secondColor: #333;
}

html, body, .container
{
    width: 100%;
    min-height: 100vh;
    font-family: 'Urbanist', sans-serif;
}