.bigHeader
{
    width: 100%;
    background-color: var(--secondColor);
}

.bigHeader, .bigHeader nav, .bigHeader ul
{
    width: 100%;
    height: 55px;
}

.bigHeader ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.4em;
}

.bigHeader a
{
    text-decoration: none;
    color: var(--firstColor);
}